@import "./fonts/dm/index.css";
body {
    color: #FFFFFF;
    background-color: rgb(13, 4, 21);
    font-family: 'DM Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
a {
    color: #FFFFFF;
    transition: color .4s ease;
    cursor: pointer;
}
a:hover {
    color: rgba(209, 213, 219, 1);
}