@import "./fonts/heebo/index.css";
body {
    color: #FFFFFF;
    /* background-color: #010124; */
    background-color: #050918;
    /* background-image: url('./assets/images/gradient-bg.png'); */
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
    font-family: 'Heebo', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
a {
    color: #FFFFFF;
    transition: color .4s ease;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: rgba(209, 213, 219, 1);
}